/* Style for the cart item image */

.error-page {
    background-color: #2c2c3c;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.error-container {
    background-color: #3c3c4c;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.error-container h1 {
    color: rgba(247, 47, 47, 0.856);
}

.error-container p {
    margin: 10px 0;
}

footer {
    position: fixed;
    bottom: 10px;
    width: 100%;
    text-align: center;
    font-size: 12px;
}
.nanodev-button {
    color: #fff;
    background-color: rgb(34, 139, 230);
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    text-transform: uppercase;
    cursor: pointer;
    display: inline-block;
    margin-right: 10px;
}

.nanodev-button:hover {
    background-color: #1a73e8;
}

.footer-link {
    text-decoration: underline;
    margin-left: 580px;
    color: rgb(226, 222, 222);
}

.footer-link:hover {
    color: #fff;
}

@media (max-width: 720px) {
    .footer {
        padding: 5%;
    }

    .footer .row {
        text-align: left;
    }
}
.footer {
    background: rgb(56, 56, 56);
    margin-top: 1px;
    padding: 0.5px 0px;
    font-family: 'Play', sans-serif;
    padding-left: 10px;
}

.footer .row {
    width: 100%;
    margin: .01% 0%;
    padding: 0.6% 0%;
    color: rgb(197, 193, 193);
    font-size: 0.8em;
}

.footer .row a {
    text-decoration: none;
    color: rgb(226, 222, 222);
    transition: 0.5s;
}

.footer .row a:hover {
    color: #fff;
}

.footer .row ul {
    width: 100%;
}

.footer .row ul li {
    display: inline-block;
    margin: 0px 30px;
}

.footer .row a i {
    font-size: 2em;
    margin: 0% 1%;
}

@media (max-width:720px) {
    .footer {
        text-align: left;
        padding: 5%;
    }

    .footer .row ul li {
        display: block;
        margin: 10px 0px;
        text-align: left;
    }

    .footer .row a i {
        margin: 0% 3%;
    }
}